body{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#icon{
    width: 50px;
}
.carousel-item img{
    max-height: 100vh;
}
.card img{
    max-height: 150px;
}
.card p{
    color: white;
}